{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
    <div class="row mt-4 p-4 justify-content-center">
        
        <form method="post" class="row mt-4 p-4 border border-2 rounded-3 col-6">
            {{form.csrf_token}}

            <h3>Cadastro:</h3>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}


            {{form.username.label() }}
            {{form.username(class_="form-control")}}

            {{form.lastname.label() }}
            {{form.lastname(class_="form-control")}}

            {{form.email.label() }}
            {{form.email(class_="form-control")}}

            {{form.password.label() }}
            {{form.password(class_="form-control")}}

            {{form.confirmation_password.label() }}
            {{form.confirmation_password(class_="form-control")}}

            {{form.btnSubmit(class_="btn btn-primary col-12 mt-4")}}

        </form>
    </div>
    
{% endblock %}